FLASK_ENV=development
FLASK_DEBUG=True
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/?appName=Cluster
# For MongoDB Atlas (cloud): mongodb+srv://username:password@cluster.mongodb.net/portfolio
